{% extends "layout.html" %}

{% block title %}

    {% if mode == "get" %}
        Quote
    {% endif %}

    <!-- Being dynamic, display quote and quoted when different methods are called -->
    {% if mode == "get" %}
        Quoted
    {% endif %}

{% endblock %}

{% block main %}

    <!-- Being dynamic same here, where it displays 2 kinds of content all under quote.html -->
    {% if mode == "get" %}
        <form action="/quote" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Quote</button>
        </form>
    {% endif %}

    {% if mode == "post" %}
        <p>
            A share of {{ name }} ({{ symbol }}) costs ${{ price }}.
        </p>
        <button class="btn btn-primary" onclick="location.href = '/'">Return</button>
    {% endif %}

{% endblock %}
